@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Codystar&family=Cormorant+Garamond&family=Roboto+Mono:wght@300;500&family=WindSong:wght@400;500&display=swap');

:root {
    --main-color: black;
    --second-color: goldenrod;
    --third-color: rgb(73, 64, 61);
    --third-color-light: rgb(128, 125, 125);

    --font-color-main: black;
    --font-color-bright: white;
    --font-color-second: rgb(73, 64, 61);
    --font-color-third: rgb(128, 125, 125);

    --main-bg-color: #ffffff;

    --font-type-main: Cormorant Garamond;
    --font-type-handwriting: WindSong;
    --font-type-special: Codystar;

    --font-size-medium: 16px;
    --font-size-giant: 2em;
    --font-size-small: 14px;
    --font-size-large: 25px;
    --font-size-larger: 35px;
}


hr {
    width: 10%;
    border-color: var(--font-second);
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0.5px solid var(--font-third);
}

body {
    font-family: var(--font-type-main);
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    overflow-x: hidden; /*this works, prevents vertical scroll*/
}



header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 65%;
    margin: 0 auto; /* Center the header */
    background-color: var(--main-bg-color);
    margin-top: 40px;
}

header-top h1 {
    font-family: var(--font-type-handwriting);
}

header-top, footer {
    background-color: var(--main-bg-color);
    text-align: center;
}

nav {
    text-align: center;
    padding: 10px 0;
}

nav a {
    font-family: var(--font-type-special);
    font-weight: 800;
    font-size: var(--font-size-medium);
    color: var(--main-color);
    text-decoration: none;
    padding: 0 20px;
    opacity: 1; /* Set initial opacity */
}

nav a:hover {
    transform: scale(1.2);
    color: var(--second-color);
}

#top-photo {
    max-width: 80%;
    min-width: 400px;
}

main {
    padding: 20px;
}

h1 {
    color: var(--main-color);
    margin: 50px 0;

}

h2 {
    color: var(--third-color);
    font-family: var(--font-type-handwriting);
    font-size: var(--font-size-larger);
}

h3 {
    font-weight: 500;
    font-size: var(--font-size-large);
    line-height: 30px;
    margin-bottom: 10px;
    font-family: var(--font-type-main);
}

h4 {
    color: var(--third-color-light);
}

p {
    color: var(--third-color);
    font-size: var(--font-size-medium);
    line-height: 20px;
    font-weight: 300;
    /* max-width: 400px; */
}

ul {
    list-style-type: none;
}

object {
    min-width: 360px;
    overflow: hidden; /* Prevent inner scrolling */
}

#directions p {
    max-width: 400px;
    margin: 0 auto; /* Center the paragraphs */
  }

#directions a:link, #media a:link {
    color: var(--second-color);
}

#directions a:visited, #media a:visited {
    color: var(--second-color);
}


#plan {
    overflow-y: hidden;
}

.timeline-content p {
    max-width: 300px;
    margin: 0 auto; /* Center the paragraphs */
}

#names-title {
    font-family: var(--font-type-handwriting);
    line-height: 1em;
}

#names-title p {
    margin-block-end: 0;
    margin-block-start: 0;
    color: var(--main-color);
    font-size: var(--font-size-giant);
    line-height: 1em;
    font-weight: 500;
}

#afterparty-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#afterparty-container p {
    max-width: 400px;
}